In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(3000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Natalie Cole,Somewhere Along The Way,I used to walk with you \r\nAlong the avenue ...
1,Paul Simon,Beautiful,Snowman sittin' in the sun doesn't have time t...
2,Zac Brown Band,Let It Go,Spent the night with a friend of mine and a ha...
3,Pitbull,Dark Horse Remix,Oh \r\nNo \r\nYeah \r\nYa'll know what it i...
4,Christmas Songs,Es Ist Ein Ros' Entsprungen,"Es ist ein Ros' entsprungen, aus einer Wurzel ..."
5,Nicki Minaj,The Night Is Still Young,"[Verse 1] \r\nYo, ayo tonight is the night th..."
6,Jimi Hendrix,Voodo Chile,Well I'm A vooodoo chile \r\nlord I'm A voodo...
7,Face To Face,Everyone Hates A Know-It-All,In a flash I'll change the universe or at leas...
8,David Allan Coe,Just In Time (To Watch Love Die),There's a stack of daily papers on her doorste...
9,Natalie Cole,How Do You Keep The Music Playing?,How do you keep \r\nThe music playing? \r\nH...

In [9]:
df['text'][0]

'I used to walk with you  \r\nAlong the avenue  \r\nOur hearts were carefree and gay  \r\nHow could I know I\'d lose you  \r\nSomewhere along the way?  \r\n  \r\nThe friends we used to know  \r\nWould always smile "hello"  \r\nNo love like our love they\'d say  \r\nThen love slipped through our fingers  \r\nSomewhere along the way  \r\n  \r\nI should forget  \r\nBut with the loneliness of night I start remembering everything  \r\nYou\'re gone and yet  \r\nThere\'s still a feeling deep inside  \r\nThat you will always be part of me  \r\n  \r\n[Chorus]  \r\nSo now I look for you  \r\nAlong the avenue  \r\nAnd as I wander I pray  \r\nThat some day soon I\'ll find you  \r\nSomewhere along the way  \r\n  \r\nI should forget  \r\nBut with the loneliness of night I start remembering everything  \r\nYou\'re gone and yet  \r\nThere\'s still a feeling deep inside  \r\nThat you will always be part of me  \r\n  \r\n[Chorus]  \r\n  \r\nSomewhere along the way\r\n\r\n'

In [10]:
df = df.sample(3000)

In [11]:
df.shape

(3000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
df.head(7)

,artist,song,text
1013,Lou Reed,A Sheltered Life,"never been to england, never been to france \..."
426,Ray Charles,Moon Over Miami,"moon over miami, \r shine on my love and me, ..."
1926,Toto,Animal,"i never felt like this with someone, i never k..."
2642,Robbie Williams,It's Only Us,and they want us to grow up \r we don't want ...
297,"Harry Connick, Jr.",This Christmas,hang all the mistletoe \r i'm gonna get to kn...
1655,Phil Collins,This Must Be Love,"it must be love, i'm feeling \r this must be ..."
584,Jackson Browne,The Late Show,everyone i've ever known has wished me well \...

In [14]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Olamide\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [15]:
# Initialize the PorterStemmer
stemmer = PorterStemmer()

In [16]:
def token(txt):
    tokens = nltk.word_tokenize(txt)
    # Apply stemming to each token
    stemmed_tokens = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed_tokens)

In [17]:
# Example usage
text = "you are beautiful, beauty"
print(token(text))

you are beauti , beauti

In [18]:
# Apply the tokenization function to the 'text' column
df['text'] = df['text'].apply(lambda x: token(x))

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [21]:
similarity[0]

array([1.        , 0.02736276, 0.11125045, ..., 0.04166963, 0.01686986,
       0.10795753])

In [23]:
df[df['song'] == 'A Sheltered Life'].index[0]

1013

Recommender Function

In [27]:
def recommendation(song_name):
    # Check if any rows match the condition
    if df[df['song'] == song_name].empty:
        print(f"No recommendations found for '{song_name}'.")
        return
    
    # Get the index of the first matching row
    idx = df[df['song'] == song_name].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
    
    song = []
    for s_id in distances[1:21]:
        song.append(df.iloc[s_id[0]].song)
        
    return song

In [31]:
recommendation("Let It Go")

['Come So Far (Got So Far To Go)',
 'Animal',
 'Animals',
 'Baby One More Time',
 'Here Comes My Baby',
 'There Goes My Baby',
 'The Bottom Line',
 'Watch And Learn',
 'Superstar',
 'Party Animal',
 'Angel Baby',
 'Dot Com',
 'Here Comes My Baby',
 'Time Is On My Side',
 "I Can't Wait No Longer (Let's Do This)",
 "That's Right Baby",
 "I'm Not Your Baby",
 'What Are You Waiting For',
 "I'm A Reader And A Writer",
 'Loving By The Pound']

In [32]:
import pickle

In [34]:
# Save the similarity matrix
pickle.dump(similarity, open('similarity.pkl','wb'))

In [35]:
# Save the DataFrame
pickle.dump(df, open('df.pkl','wb'))